.flex {
    display: flex;
    &.flex-center {
        align-items: center;
        justify-content: center;
    }
}
.site-body {
    margin: 0 200px;
    flex: 1;
    border: 1px solid #000;
}
.header {
min-height: 100px;
}
.content {

}